<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Montalvo</title>
    <link th:href="@{/styles/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/fontawesome/all.css}" rel="stylesheet"/>
    <link th:href="@{/styles/CSSmontalvo/home.css}" rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <title>Especialidad</title>
</head>
<body class="text-center">

<h1>Maquillaje</h1>
<div th:action="@{/especialidad/EspecialidadMaquillaje}" class="container">
    <div class="hours mx-auto">
        <p>Horas de Atención:</p>
        <div class="btn-group-vertical" role="group" aria-label="Horarios">
            <button type="button" class="btn btn-secondary btn-block">Lunes a Viernes: 9:00 AM - 6:00 PM</button>
            <button type="button" class="btn btn-secondary btn-block">Lunes a Jueves (Tarde): 7:00 PM - 9:00 PM</button>
            <button type="button" class="btn btn-secondary btn-block">Viernes (Noche): 7:00 PM - 8:00 PM</button>
            <button type="button" class="btn btn-secondary btn-block">Sábado: 10:00 AM - 3:00 PM</button>
            <button type="button" class="btn btn-secondary btn-block">Sábado (Tarde): 4:00 PM - 6:00 PM</button>
            <button type="button" class="btn btn-secondary btn-block">Domingo: Cerrado</button>
        </div>
    </div>
</div>
</body>
</html>
