<!-- Section: Design Block -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/bootstrap/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/styles/CSSmontalvo/login.css}"
          rel="stylesheet"/>
    <link th:href="@{/styles/fontawesome/all.css}"
          rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"
            type="text/javascript"></script>

    <script th:src="@{/scripts/jquery/jquery.js}"
            type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/scripts/web/backoffice/reserva/frmMantReservaPeinado.js}"></script>

</head>
<body>
<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
          background-color: hsl(218, 41%, 15%);
          background-image: radial-gradient(650px circle at 0% 0%,
              hsl(218, 41%, 35%) 15%,
              hsl(218, 41%, 30%) 35%,
              hsl(218, 41%, 20%) 75%,
              hsl(218, 41%, 19%) 80%,
              transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
              hsl(218, 41%, 45%) 15%,
              hsl(218, 41%, 30%) 35%,
              hsl(218, 41%, 20%) 75%,
              hsl(218, 41%, 19%) 80%,
              transparent 100%);
        }

        #radius-shape-1 {
          height: 220px;
          width: 220px;
          top: -60px;
          left: -130px;
          background: radial-gradient(#44006b, #ad1fff);
          overflow: hidden;
        }

        #radius-shape-2 {
          border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
          bottom: -60px;
          right: -110px;
          width: 300px;
          height: 300px;
          background: radial-gradient(#44006b, #ad1fff);
          overflow: hidden;
        }

        .bg-glass {
          background-color: hsla(0, 0%, 100%, 0.9) !important;
          backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    MONTALVO <br />
                    <span style="color: hsl(218, 81%, 75%)">RESERVA DE CITAS</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    ¡Hola y bienvenido a Montalvo, donde tu bienestar es nuestra prioridad!
                    Estamos encantados de que hayas elegido reservar una cita con nosotros.
                    En Montalvo, cada cita es una oportunidad para realzar tu belleza y
                    cuidado personal.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="d-flex flex-column card-body px-4 py-5 px-md-5 text-center">
                        <div class="mb-4">
                            <a id="btnregistrarPeinado" type="button" class="btn btn-primary btn-block" style="background-color: purple; color: white; text-decoration: none; cursor: pointer; display: block;">
                                Registrar Peinado
                            </a>
                        </div>

                        <div class="mb-4">
                            <a th:href="@{/reservaPeinado/reservaPeinado}" class="btn btn-primary btn-block" style="background-color: purple; color: white; text-decoration: none; cursor: pointer; display: block;">
                                Registrar Maquillaje
                            </a>
                        </div>

                        <div class="mb-4">
                            <a th:href="@{/reservaPeinado/reservaPeinado}" class="btn btn-primary btn-block" style="background-color: purple; color: white; text-decoration: none; cursor: pointer; display: block;">
                                Registrar Masaje
                            </a>
                        </div>

                        <div class="mb-4">
                            <a th:href="@{/reservaPeinado/reservaPeinado}" class="btn btn-primary btn-block" style="background-color: purple; color: white; text-decoration: none; cursor: pointer; display: block;">
                                Registrar Manicure
                            </a>
                        </div>
                        <a th:href="@{/auth/login-success}" class="mt-4">Volver a la página Principal</a>
                        <div id="mensaje"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Reserva Peinado/ Actualizar Reserva Peinado -->
    <div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">RESERVE SU PEINADO </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="txtusuario">Usuario</label>
                        <input type="text" id="txtusuario" class="form-control" disabled />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboLugar">Sedes</label>
                        <select id="cboLugar" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboEmpleado">Empleados</label>
                        <select id="cboEmpleado" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboPeinado">Peinado</label>
                        <select id="cboPeinado" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="txtfecha">Fecha de Reserva</label>
                        <input type="date" id="txtfecha" class="form-control" />
                    </div>
                    <input type="hidden" id="hddcodrePe" value="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                    <button type="button" id="btnReserva" class="btn btn-primary"><i class="fas fa-save"></i> Reservar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Reserva Manicura/ Actualizar Reserva Manicura -->
    <div class="modal fade" id="modalNuevoManicura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabelmanicura">RESERVE SU MANICURA </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="txtusuariomanicura">Usuario</label>
                        <input type="text" id="txtusuariomanicura" class="form-control" disabled />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboLugarmanicura">Sedes</label>
                        <select id="cboLugarmanicura" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboEmpleadomanicura">Empleados</label>
                        <select id="cboEmpleadomanicura" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboManicura">Manicura</label>
                        <select id="cboManicura" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="txtfechamanicura">Fecha de Reserva</label>
                        <input type="date" id="txtfechamanicura" class="form-control" />
                    </div>
                    <input type="hidden" id="hddcodreMa" value="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                    <button type="button" id="btnReservamanicura" class="btn btn-primary"><i class="fas fa-save"></i> Reservar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Reserva Maquillaje/ Actualizar Reserva Maquillaje -->
    <div class="modal fade" id="modalNuevoMaquillaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabelmaquillaje">RESERVE SU MAQUILLAJE </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="txtusuariomaquillaje">Usuario</label>
                        <input type="text" id="txtusuariomaquillaje" class="form-control" disabled />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboLugarmaquillaje">Sedes</label>
                        <select id="cboLugarmaquillaje" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboEmpleadomaquillaje">Empleados</label>
                        <select id="cboEmpleadomaquillaje" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cboMaquillaje">Maquillaje</label>
                        <select id="cboMaquillaje" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="txtfechamaquillaje">Fecha de Reserva</label>
                        <input type="date" id="txtfechamaquillaje" class="form-control" />
                    </div>
                    <input type="hidden" id="hddcodreMaqui" value="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                    <button type="button" id="btnReservamaquillaje" class="btn btn-primary"><i class="fas fa-save"></i> Reservar</button>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>