<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Montalvo</title>
    <link th:href="@{/styles/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/fontawesome/all.css}" rel="stylesheet"/>
    <link th:href="@{/styles/CSSmontalvo/home.css}" rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
</head>
<body>

<div class="container mt-4">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Servicio de Isabel</h2>
            <div th:action="@{/emp/Isabel}" class="card mb-4">
                <a th:href="@{/especialidad/EspecialidadMaquillaje}">
                    <img th:src="@{/imagenes/maquillaje.png}" class="card-img-top" alt="maquillaje">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Maquillaje</h5>
                    <p class="card-text">Resalta tu belleza facial con la magia del maquillaje
                        profesional. Nuestros artistas del maquillaje utilizan productos de alta
                        calidad para resaltar tus rasgos naturales, creando looks que se adaptan
                        perfectamente a cada ocasión. Desde maquillaje diario y natural hasta estilos
                        audaces y artísticos para eventos especiales.</p>
                </div>
            </div>

            <h2>Sede donde encontramos a Isabel</h2>
            <div class="card">
                <a th:href="@{/sede/SedeSanIsidro}">
                    <img th:src="@{/imagenes/sanisidro.jpg}" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">San Isidro</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <h2 class="mt-4">Horario de Isabel</h2>
            <div class="btn-group-vertical" role="group" aria-label="Horarios">
                <button type="button" class="btn btn-secondary btn-block">Lunes a Viernes: 9:00 AM - 6:00 PM</button>
                <button type="button" class="btn btn-secondary btn-block">Sábado (Tarde): 4:00 PM - 6:00 PM</button>
            </div>
        </div>
    </div>



</div>

</body>
</html>
